@page
@model MegaDeskWeb_DrazenLucic.Pages.DeskQuotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this quote?</h3>
<div>
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 50%">Description</th>
                <th scope="col" style="width: 50%">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.Customer)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.Customer)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.OrderDate)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.OrderDate)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.BaseDeskPrice)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.BaseDeskPrice)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.Width)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.Width) inches
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.Depth)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.Depth) inches
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.CalcSurfaceArea)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.CalcSurfaceArea) square inches
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.SurfaceAreaSurcharge)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.SurfaceAreaSurcharge)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.SurfaceAreaSurchargeThreshold)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.SurfaceAreaSurchargeThreshold) sq inches
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.CalcSurfaceAreaSurcharge)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.CalcSurfaceAreaSurcharge)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.NumberOfDrawers)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.NumberOfDrawers)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.DrawerSurcharge)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.DrawerSurcharge)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.CalcDrawersSurcharge)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.CalcDrawersSurcharge)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.SurfaceMaterial)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.SurfaceMaterial)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.SurfaceMaterialSurcharge)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.SurfaceMaterialSurcharge)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.ProductionTime)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DeskQuote.ProductionTime) days
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.RushOrderSurcharge)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.RushOrderSurcharge)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.DeskQuote.CalcDeskPrice)
                </th>
                <td>
                    $@Html.DisplayFor(model => model.DeskQuote.CalcDeskPrice)
                </td>
            </tr>
        </tbody>
    </table>
    <form method="post">
        <input type="hidden" asp-for="DeskQuote.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-outline-info" asp-page="./Index">Back to List</a>
    </form>
</div>
