@page
@model MegaDeskWeb_DrazenLucic.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Desk Quotes";
}

<h1>Desk Quotes</h1>

<p>
    <a class="btn btn-outline-danger" asp-page="Create">Create Desk Quote</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].NumberOfDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].ProductionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CalcDeskPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeskQuote)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Customer)</a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width) inches
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depth) inches
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDrawers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurfaceMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionTime) days
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.CalcDeskPrice)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.DeskQuote.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DeskQuote.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.DeskQuote.PageIndex - 1)"
   class="btn btn-outline-info @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.DeskQuote.PageIndex + 1)"
   class="btn btn-outline-info @nextDisabled">
    Next
</a>